body{
    margin:0;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 50px;
    background-color:#1F2937;
    color:white;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.one{
    background-color:#1F2937;
    color:white;
    display:flex;
    justify-content: space-around;
    padding:10px 50px;
}

.left-block{
    width:50%;
} 

.title{
    font-size:30px;
}

img{
    width:100px;
    height:auto;
}

.two{

}

.title-two{
    text-align: center;
    margin:20px;
    font-weight:bold;
}

.cards{
    padding: 32px;
    display: flex;
    justify-content: center;
    gap:40px;
} 

.card-1{
    display:flex;
    flex-direction:column; 
    align-items: center;
    gap:5px;
}

.boxes{
    border: 1px solid #3882F6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 16px;
    width: 150px;
    height: 150px;
}

.text{
    width:150px;
}

.three{
    display:flex;
    flex-direction: column;
    background-color:#E5E7EB
}

p{
    margin-top:80px;
    padding:0px 80px;
    text-align:center;
    font-size:36px;
    color:#1F2937;
    font-style:italic; 
}  

.quote{
    text-align: right;
    margin:0px 250px;
    margin-bottom:80px;
    min-width:150px
}

.four{

}

.footer{

}